* {
    font-family : 'Poppins';
}
.add_details {
    float: right;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_create {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Custom styling for checkboxes */
input[type="checkbox"] {
    width: auto;
    margin-top: 5px; /* Adjust margin-top as needed */
    margin-bottom: 5px; /* Adjust margin-bottom as needed */
}

/* Style for checkbox label */
.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.back_employee {
    float: right;
    margin-top: -44px;
}
